<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>My Companies</title>

</head>
<div>
<div class="jumbotron text-center" >
    <h1>BookYourFuture</h1>
</div>
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">BookYourFuture</a>
        <li class="nav-item active">
            <a class="nav-link" href="/aboutUs">About us</a>
        <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact</a>
    </ul>
    <div sec:authorize="!isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="registerUser"><i class="fas fa-user"></i> Sign Up</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
        </ul>
    </div>
    <div sec:authorize="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-user"></i> Logged in as <span sec:authentication="name"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/addCompany">Add Company</a>
                    <a class="dropdown-item" href="/myCompanies">My Companies</a>
                    <a class="dropdown-item" href="/editAccount">Edit account</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:if="${not #lists.isEmpty(companiesList)}">
        <h2>Your companies:</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>NIP</th>
                <th>Open time</th>
                <th>Close time</th>
            </tr>
            <tr th:each="company: ${companiesList}">
                <td th:text="${company.getId()}"></td>
                <td th:text="${company.getName()}"></td>
                <td th:text="${company.getAddress()}"></td>
                <td th:text="${company.getNip()}"></td>
                <td th:text="${company.getOpenTime()}"></td>
                <td th:text="${company.getCloseTime()}"></td>
                <td><a class="nav-link" th:href="@{/editCompany(id=${company.getId()})}">Edit</a></td>
                <td><a class="nav-link" th:href="@{/deleteCompany(id=${company.getId()})}">Delete</a></td>
                <td><a class="nav-link" th:href="@{/addServicee(id=${company.getId()})}">Add service</a></td>
            </tr>

        </table>
    </div>
</div>

<div class="container">
    <div  th:if="${#lists.isEmpty(companiesList)}">
        <h2>You don't have any company</h2>
        <div class="form-group">
            <!--  <a href="/addCompany" class="btn btn-default">Add Company</a> // -->
            <a href="/addCompany" class="btn btn-primary" role="button">Add Company</a>
        </div> <!-- form-group// -->
    </div>
</div>
</div>
</body>
</html>